<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\phpunit.xml" tests="59" assertions="340" errors="0" failures="0" skipped="0" time="4.918686">
    <testsuite name="Feature" tests="59" assertions="340" errors="0" failures="0" skipped="0" time="4.918686">
      <testsuite name="Tests\Feature\ConcurrencyTest" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\ConcurrencyTest.php" tests="2" assertions="23" errors="0" failures="0" skipped="0" time="1.074486">
        <testcase name="test_simultaneous_students_cannot_claim_same_slot" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\ConcurrencyTest.php" line="46" class="Tests\Feature\ConcurrencyTest" classname="Tests.Feature.ConcurrencyTest" assertions="12" time="0.644684"/>
        <testcase name="test_simultaneous_bookings_cannot_exceed_student_quota" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\ConcurrencyTest.php" line="57" class="Tests\Feature\ConcurrencyTest" classname="Tests.Feature.ConcurrencyTest" assertions="11" time="0.429802"/>
      </testsuite>
      <testsuite name="Tests\Feature\ExampleTest" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\ExampleTest.php" tests="1" assertions="2" errors="0" failures="0" skipped="0" time="0.043113">
        <testcase name="test_the_application_returns_a_successful_response" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\ExampleTest.php" line="13" class="Tests\Feature\ExampleTest" classname="Tests.Feature.ExampleTest" assertions="2" time="0.043113"/>
      </testsuite>
      <testsuite name="Tests\Feature\MachineManagementTest" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\MachineManagementTest.php" tests="8" assertions="65" errors="0" failures="0" skipped="0" time="0.224900">
        <testcase name="test_staff_creates_edits_and_reenables_a_washer" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\MachineManagementTest.php" line="36" class="Tests\Feature\MachineManagementTest" classname="Tests.Feature.MachineManagementTest" assertions="11" time="0.060532"/>
        <testcase name="test_student_and_guest_cannot_manage_machines" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\MachineManagementTest.php" line="50" class="Tests\Feature\MachineManagementTest" classname="Tests.Feature.MachineManagementTest" assertions="8" time="0.026330"/>
        <testcase name="test_invalid_machine_fields_and_duplicate_names_are_rejected" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\MachineManagementTest.php" line="61" class="Tests\Feature\MachineManagementTest" classname="Tests.Feature.MachineManagementTest" assertions="7" time="0.013470"/>
        <testcase name="test_active_bookings_block_removal_and_maintenance" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\MachineManagementTest.php" line="68" class="Tests\Feature\MachineManagementTest" classname="Tests.Feature.MachineManagementTest" assertions="12" time="0.022852"/>
        <testcase name="test_deletion_preserves_history_and_prevents_new_bookings" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\MachineManagementTest.php" line="81" class="Tests\Feature\MachineManagementTest" classname="Tests.Feature.MachineManagementTest" assertions="9" time="0.030307"/>
        <testcase name="test_maintenance_is_independent_of_occupancy_and_can_be_removed" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\MachineManagementTest.php" line="93" class="Tests\Feature\MachineManagementTest" classname="Tests.Feature.MachineManagementTest" assertions="4" time="0.023480"/>
        <testcase name="test_past_slot_never_claims_to_be_available" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\MachineManagementTest.php" line="101" class="Tests\Feature\MachineManagementTest" classname="Tests.Feature.MachineManagementTest" assertions="3" time="0.015880"/>
        <testcase name="test_five_hours_after_slot_staff_can_start_then_finish_manually" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\MachineManagementTest.php" line="107" class="Tests\Feature\MachineManagementTest" classname="Tests.Feature.MachineManagementTest" assertions="11" time="0.032048"/>
      </testsuite>
      <testsuite name="Tests\Feature\QuickWashTest" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" tests="48" assertions="250" errors="0" failures="0" skipped="0" time="3.576187">
        <testcase name="test_registration_creates_student_and_ignores_role_escalation" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="28" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.027395"/>
        <testsuite name="Tests\Feature\QuickWashTest::test_registration_requires_exact_student_domain" tests="6" assertions="24" errors="0" failures="0" skipped="0" time="0.080565">
          <testcase name="test_registration_requires_exact_student_domain with data set #0" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="39" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.012532"/>
          <testcase name="test_registration_requires_exact_student_domain with data set #1" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="39" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.014970"/>
          <testcase name="test_registration_requires_exact_student_domain with data set #2" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="39" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.012750"/>
          <testcase name="test_registration_requires_exact_student_domain with data set #3" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="39" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.013719"/>
          <testcase name="test_registration_requires_exact_student_domain with data set #4" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="39" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.012984"/>
          <testcase name="test_registration_requires_exact_student_domain with data set #5" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="39" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.013610"/>
        </testsuite>
        <testsuite name="Tests\Feature\QuickWashTest::test_existing_student_outside_domain_cannot_login_even_with_valid_password" tests="6" assertions="30" errors="0" failures="0" skipped="0" time="1.327745">
          <testcase name="test_existing_student_outside_domain_cannot_login_even_with_valid_password with data set #0" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="46" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.219825"/>
          <testcase name="test_existing_student_outside_domain_cannot_login_even_with_valid_password with data set #1" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="46" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.220808"/>
          <testcase name="test_existing_student_outside_domain_cannot_login_even_with_valid_password with data set #2" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="46" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.231832"/>
          <testcase name="test_existing_student_outside_domain_cannot_login_even_with_valid_password with data set #3" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="46" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.217420"/>
          <testcase name="test_existing_student_outside_domain_cannot_login_even_with_valid_password with data set #4" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="46" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.218053"/>
          <testcase name="test_existing_student_outside_domain_cannot_login_even_with_valid_password with data set #5" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="46" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.219807"/>
        </testsuite>
        <testcase name="test_institutional_login_normalizes_case_and_spaces" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="53" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.017533"/>
        <testcase name="test_staff_can_login_with_assigned_nonstudent_email" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="58" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.015206"/>
        <testcase name="test_old_noninstitutional_student_session_is_closed" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="64" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="6" time="0.013058"/>
        <testcase name="test_demo_email_upgrade_preserves_existing_reservations" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="72" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.025482"/>
        <testcase name="test_registration_rejects_duplicate_email_and_unconfirmed_password" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="81" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.015821"/>
        <testcase name="test_login_logout_and_invalid_credentials" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="86" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="13" time="0.231847"/>
        <testcase name="test_repeated_login_failures_are_throttled" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="96" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="7" time="1.279813"/>
        <testcase name="test_guest_and_role_boundaries" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="101" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.019104"/>
        <testcase name="test_create_reservation_persists_machine_date_time_and_prendas" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="108" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.019584"/>
        <testsuite name="Tests\Feature\QuickWashTest::test_invalid_garment_quantities_are_rejected" tests="6" assertions="18" errors="0" failures="0" skipped="0" time="0.076499">
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #0" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="116" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.011744"/>
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #1" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="116" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.012241"/>
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #2" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="116" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.012608"/>
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #3" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="116" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.012266"/>
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #4" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="116" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.013317"/>
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #5" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="116" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.014323"/>
        </testsuite>
        <testcase name="test_one_machine_cannot_be_booked_twice_and_adjacent_slot_is_allowed" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="121" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="8" time="0.018359"/>
        <testcase name="test_different_machines_can_be_reserved_at_same_time" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="130" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="2" time="0.015104"/>
        <testcase name="test_student_is_limited_to_three_active_reservations" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="137" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.015183"/>
        <testcase name="test_finalized_and_cancelled_reservations_do_not_consume_quota" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="144" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="7" time="0.020419"/>
        <testcase name="test_cancellation_releases_slot_for_another_student" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="152" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="6" time="0.017128"/>
        <testsuite name="Tests\Feature\QuickWashTest::test_cancellation_boundary_at_start_time" tests="3" assertions="9" errors="0" failures="0" skipped="0" time="0.038989">
          <testcase name="test_cancellation_boundary_at_start_time with data set #0" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="162" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.013595"/>
          <testcase name="test_cancellation_boundary_at_start_time with data set #1" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="162" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.012878"/>
          <testcase name="test_cancellation_boundary_at_start_time with data set #2" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="162" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.012516"/>
        </testsuite>
        <testcase name="test_student_cannot_cancel_others_or_change_any_status" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="171" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.021388"/>
        <testcase name="test_only_pending_reservations_can_be_cancelled" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="178" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="9" time="0.017472"/>
        <testcase name="test_staff_completes_lifecycle_and_student_sees_finalized" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="187" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="10" time="0.027983"/>
        <testcase name="test_staff_cannot_modify_student_machine_schedule_or_quantity" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="197" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="9" time="0.017093"/>
        <testcase name="test_states_cannot_be_skipped_reopened_or_started_early" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="206" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="12" time="0.022816"/>
        <testcase name="test_staff_can_cancel_a_pending_or_in_progress_reservation" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="213" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="7" time="0.016838"/>
        <testcase name="test_invalid_slots_are_rejected" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="223" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="6" time="0.023397"/>
        <testcase name="test_maintenance_deleted_machines_and_dryers_cannot_be_booked" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="228" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="6" time="0.017142"/>
        <testcase name="test_availability_and_all_views_and_filters_work" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="238" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="18" time="0.085613"/>
        <testcase name="test_no_cancellation_button_after_start" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="250" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="2" time="0.017272"/>
        <testcase name="test_database_unique_constraint_protects_slot_without_service" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="256" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="1" time="0.014948"/>
        <testcase name="test_migration_preserves_legacy_reservations_without_inventing_quantity" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="263" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.019389"/>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
