<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\phpunit.xml" tests="35" assertions="200" errors="0" failures="0" skipped="0" time="25.704417">
    <testsuite name="Feature" tests="35" assertions="200" errors="0" failures="0" skipped="0" time="25.704417">
      <testsuite name="Tests\Feature\ConcurrencyTest" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\ConcurrencyTest.php" tests="2" assertions="23" errors="0" failures="0" skipped="0" time="7.032993">
        <testcase name="test_simultaneous_students_cannot_claim_same_slot" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\ConcurrencyTest.php" line="46" class="Tests\Feature\ConcurrencyTest" classname="Tests.Feature.ConcurrencyTest" assertions="12" time="6.485971"/>
        <testcase name="test_simultaneous_bookings_cannot_exceed_student_quota" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\ConcurrencyTest.php" line="57" class="Tests\Feature\ConcurrencyTest" classname="Tests.Feature.ConcurrencyTest" assertions="11" time="0.547022"/>
      </testsuite>
      <testsuite name="Tests\Feature\ExampleTest" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\ExampleTest.php" tests="1" assertions="2" errors="0" failures="0" skipped="0" time="4.439048">
        <testcase name="test_the_application_returns_a_successful_response" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\ExampleTest.php" line="13" class="Tests\Feature\ExampleTest" classname="Tests.Feature.ExampleTest" assertions="2" time="4.439048"/>
      </testsuite>
      <testsuite name="Tests\Feature\QuickWashTest" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" tests="32" assertions="175" errors="0" failures="0" skipped="0" time="14.232376">
        <testcase name="test_registration_creates_student_and_ignores_role_escalation" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="28" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="3.364894"/>
        <testcase name="test_registration_rejects_duplicate_email_and_unconfirmed_password" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="34" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.176610"/>
        <testcase name="test_login_logout_and_invalid_credentials" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="39" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="13" time="0.566020"/>
        <testcase name="test_repeated_login_failures_are_throttled" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="49" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="7" time="2.968190"/>
        <testcase name="test_guest_and_role_boundaries" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="54" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.106677"/>
        <testcase name="test_create_reservation_persists_machine_date_time_and_prendas" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="61" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="1.602760"/>
        <testsuite name="Tests\Feature\QuickWashTest::test_invalid_garment_quantities_are_rejected" tests="6" assertions="18" errors="0" failures="0" skipped="0" time="0.150514">
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #0" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="69" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.024762"/>
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #1" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="69" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.019088"/>
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #2" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="69" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.021620"/>
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #3" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="69" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.017551"/>
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #4" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="69" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.045145"/>
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #5" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="69" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.022348"/>
        </testsuite>
        <testcase name="test_one_machine_cannot_be_booked_twice_and_adjacent_slot_is_allowed" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="74" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="8" time="0.032033"/>
        <testcase name="test_different_machines_can_be_reserved_at_same_time" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="83" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="2" time="0.021878"/>
        <testcase name="test_student_is_limited_to_three_active_reservations" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="90" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.021049"/>
        <testcase name="test_finalized_and_cancelled_reservations_do_not_consume_quota" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="97" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="7" time="0.034319"/>
        <testcase name="test_cancellation_releases_slot_for_another_student" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="105" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="6" time="0.025486"/>
        <testsuite name="Tests\Feature\QuickWashTest::test_cancellation_boundary_at_start_time" tests="3" assertions="9" errors="0" failures="0" skipped="0" time="0.076500">
          <testcase name="test_cancellation_boundary_at_start_time with data set #0" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="115" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.025256"/>
          <testcase name="test_cancellation_boundary_at_start_time with data set #1" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="115" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.025664"/>
          <testcase name="test_cancellation_boundary_at_start_time with data set #2" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="115" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.025581"/>
        </testsuite>
        <testcase name="test_student_cannot_cancel_others_or_change_any_status" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="124" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.033945"/>
        <testcase name="test_only_pending_reservations_can_be_cancelled" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="131" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="9" time="0.025004"/>
        <testcase name="test_staff_completes_lifecycle_and_student_sees_finalized" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="140" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="10" time="0.042898"/>
        <testcase name="test_staff_cannot_modify_student_machine_schedule_or_quantity" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="150" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="9" time="0.086381"/>
        <testcase name="test_states_cannot_be_skipped_reopened_or_started_early" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="159" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="12" time="0.032803"/>
        <testcase name="test_staff_can_cancel_a_pending_or_in_progress_reservation" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="166" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="7" time="0.029780"/>
        <testcase name="test_invalid_slots_are_rejected" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="176" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="6" time="0.036069"/>
        <testcase name="test_maintenance_deleted_machines_and_dryers_cannot_be_booked" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="181" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="6" time="0.063567"/>
        <testcase name="test_availability_and_all_views_and_filters_work" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="191" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="16" time="4.561611"/>
        <testcase name="test_no_cancellation_button_after_start" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="205" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="2" time="0.029744"/>
        <testcase name="test_database_unique_constraint_protects_slot_without_service" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="211" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="1" time="0.113125"/>
        <testcase name="test_migration_preserves_legacy_reservations_without_inventing_quantity" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="218" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.030520"/>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
