<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\phpunit.xml" tests="51" assertions="273" errors="0" failures="0" skipped="0" time="4.896394">
    <testsuite name="Feature" tests="51" assertions="273" errors="0" failures="0" skipped="0" time="4.896394">
      <testsuite name="Tests\Feature\ConcurrencyTest" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\ConcurrencyTest.php" tests="2" assertions="23" errors="0" failures="0" skipped="0" time="1.167709">
        <testcase name="test_simultaneous_students_cannot_claim_same_slot" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\ConcurrencyTest.php" line="46" class="Tests\Feature\ConcurrencyTest" classname="Tests.Feature.ConcurrencyTest" assertions="12" time="0.675009"/>
        <testcase name="test_simultaneous_bookings_cannot_exceed_student_quota" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\ConcurrencyTest.php" line="57" class="Tests\Feature\ConcurrencyTest" classname="Tests.Feature.ConcurrencyTest" assertions="11" time="0.492700"/>
      </testsuite>
      <testsuite name="Tests\Feature\ExampleTest" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\ExampleTest.php" tests="1" assertions="2" errors="0" failures="0" skipped="0" time="0.041840">
        <testcase name="test_the_application_returns_a_successful_response" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\ExampleTest.php" line="13" class="Tests\Feature\ExampleTest" classname="Tests.Feature.ExampleTest" assertions="2" time="0.041840"/>
      </testsuite>
      <testsuite name="Tests\Feature\QuickWashTest" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" tests="48" assertions="248" errors="0" failures="0" skipped="0" time="3.686845">
        <testcase name="test_registration_creates_student_and_ignores_role_escalation" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="28" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.056734"/>
        <testsuite name="Tests\Feature\QuickWashTest::test_registration_requires_exact_student_domain" tests="6" assertions="24" errors="0" failures="0" skipped="0" time="0.086308">
          <testcase name="test_registration_requires_exact_student_domain with data set #0" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="39" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.017039"/>
          <testcase name="test_registration_requires_exact_student_domain with data set #1" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="39" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.013424"/>
          <testcase name="test_registration_requires_exact_student_domain with data set #2" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="39" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.012537"/>
          <testcase name="test_registration_requires_exact_student_domain with data set #3" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="39" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.016561"/>
          <testcase name="test_registration_requires_exact_student_domain with data set #4" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="39" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.012959"/>
          <testcase name="test_registration_requires_exact_student_domain with data set #5" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="39" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.013788"/>
        </testsuite>
        <testsuite name="Tests\Feature\QuickWashTest::test_existing_student_outside_domain_cannot_login_even_with_valid_password" tests="6" assertions="30" errors="0" failures="0" skipped="0" time="1.349101">
          <testcase name="test_existing_student_outside_domain_cannot_login_even_with_valid_password with data set #0" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="46" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.226498"/>
          <testcase name="test_existing_student_outside_domain_cannot_login_even_with_valid_password with data set #1" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="46" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.229110"/>
          <testcase name="test_existing_student_outside_domain_cannot_login_even_with_valid_password with data set #2" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="46" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.233754"/>
          <testcase name="test_existing_student_outside_domain_cannot_login_even_with_valid_password with data set #3" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="46" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.222614"/>
          <testcase name="test_existing_student_outside_domain_cannot_login_even_with_valid_password with data set #4" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="46" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.218571"/>
          <testcase name="test_existing_student_outside_domain_cannot_login_even_with_valid_password with data set #5" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="46" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.218554"/>
        </testsuite>
        <testcase name="test_institutional_login_normalizes_case_and_spaces" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="53" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.018037"/>
        <testcase name="test_staff_can_login_with_assigned_nonstudent_email" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="58" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.017567"/>
        <testcase name="test_old_noninstitutional_student_session_is_closed" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="64" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="6" time="0.017413"/>
        <testcase name="test_demo_email_upgrade_preserves_existing_reservations" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="72" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.021217"/>
        <testcase name="test_registration_rejects_duplicate_email_and_unconfirmed_password" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="81" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="4" time="0.017413"/>
        <testcase name="test_login_logout_and_invalid_credentials" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="86" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="13" time="0.225687"/>
        <testcase name="test_repeated_login_failures_are_throttled" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="96" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="7" time="1.265200"/>
        <testcase name="test_guest_and_role_boundaries" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="101" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.017153"/>
        <testcase name="test_create_reservation_persists_machine_date_time_and_prendas" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="108" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="5" time="0.024417"/>
        <testsuite name="Tests\Feature\QuickWashTest::test_invalid_garment_quantities_are_rejected" tests="6" assertions="18" errors="0" failures="0" skipped="0" time="0.085514">
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #0" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="116" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.012128"/>
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #1" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="116" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.012621"/>
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #2" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="116" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.017978"/>
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #3" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="116" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.016458"/>
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #4" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="116" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.012747"/>
          <testcase name="test_invalid_garment_quantities_are_rejected with data set #5" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="116" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.013581"/>
        </testsuite>
        <testcase name="test_one_machine_cannot_be_booked_twice_and_adjacent_slot_is_allowed" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="121" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="8" time="0.023260"/>
        <testcase name="test_different_machines_can_be_reserved_at_same_time" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="130" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="2" time="0.015313"/>
        <testcase name="test_student_is_limited_to_three_active_reservations" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="137" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.019709"/>
        <testcase name="test_finalized_and_cancelled_reservations_do_not_consume_quota" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="144" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="7" time="0.021597"/>
        <testcase name="test_cancellation_releases_slot_for_another_student" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="152" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="6" time="0.022834"/>
        <testsuite name="Tests\Feature\QuickWashTest::test_cancellation_boundary_at_start_time" tests="3" assertions="9" errors="0" failures="0" skipped="0" time="0.043999">
          <testcase name="test_cancellation_boundary_at_start_time with data set #0" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="162" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.015019"/>
          <testcase name="test_cancellation_boundary_at_start_time with data set #1" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="162" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.014721"/>
          <testcase name="test_cancellation_boundary_at_start_time with data set #2" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="162" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.014259"/>
        </testsuite>
        <testcase name="test_student_cannot_cancel_others_or_change_any_status" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="171" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.020470"/>
        <testcase name="test_only_pending_reservations_can_be_cancelled" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="178" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="9" time="0.018448"/>
        <testcase name="test_staff_completes_lifecycle_and_student_sees_finalized" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="187" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="10" time="0.028332"/>
        <testcase name="test_staff_cannot_modify_student_machine_schedule_or_quantity" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="197" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="9" time="0.018727"/>
        <testcase name="test_states_cannot_be_skipped_reopened_or_started_early" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="206" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="12" time="0.026374"/>
        <testcase name="test_staff_can_cancel_a_pending_or_in_progress_reservation" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="213" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="7" time="0.020176"/>
        <testcase name="test_invalid_slots_are_rejected" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="223" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="6" time="0.027173"/>
        <testcase name="test_maintenance_deleted_machines_and_dryers_cannot_be_booked" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="228" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="6" time="0.020153"/>
        <testcase name="test_availability_and_all_views_and_filters_work" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="238" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="16" time="0.098767"/>
        <testcase name="test_no_cancellation_button_after_start" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="252" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="2" time="0.021091"/>
        <testcase name="test_database_unique_constraint_protects_slot_without_service" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="258" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="1" time="0.012876"/>
        <testcase name="test_migration_preserves_legacy_reservations_without_inventing_quantity" file="C:\Users\cjosu\Desktop\QuickWash V1-Mejorado\tests\Feature\QuickWashTest.php" line="265" class="Tests\Feature\QuickWashTest" classname="Tests.Feature.QuickWashTest" assertions="3" time="0.025782"/>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
